@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F2F2F2;
  --secondary: #828282;
}


/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 15px;
  border: 2px solid var(--primary);
  width: 7px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iransans !important;
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.suggestions::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.suggestions {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


$dot-width: 10px;
$dot-color: #3b5998;
$speed: 1.5s;

.typing {
  position: relative;

  .typing-span {
    content: '';
    animation: blink $speed infinite;
    animation-fill-mode: both;
    height: $dot-width;
    width: $dot-width;
    background: $dot-color;
    position: absolute;
    left:0;
    top:0;
    border-radius: 50%;

    &:nth-child(2) {
      animation-delay: .2s;
      margin-left: $dot-width * 1.5;
    }

    &:nth-child(3) {
      animation-delay: .3s;
      margin-left: $dot-width * 3;
    }
  }
}


@keyframes blink {
  0% {
    opacity: .1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .1;
  }
}


@font-face {
  font-family: iransans;
  src: url(IRANSansWeb_Medium.woff2);
}