@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --primary: #F2F2F2;
    --secondary: #828282;
}


/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #828282 #F2F2F2;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: #F2F2F2;
    border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
    background-color: #828282;
    border-radius: 15px;
    border: 2px solid #F2F2F2;
    width: 7px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: iransans !important;
    direction: rtl;
}

.dir-ltr {
    direction: ltr;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.suggestions::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.suggestions {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.typing {
    position: relative;
}

.typing-span {
    content: '';
    animation: blink 1.5s infinite;
    animation-fill-mode: both;
    height: 10px;
    width: 10px;
    background: #3b5998;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.typing-span:nth-child(2) {
    animation-delay: .2s;
    margin-left: 10px;
}

.typing-span:nth-child(3) {
    animation-delay: .3s;
    margin-left: 10px;
}


@keyframes blink {
    0% {
        opacity: .1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}

@font-face {
    font-family: iransans;
    src: url(../src/assets/fonts/IRANSansWeb_Medium.woff2);
}